# Gradle build system ignores
.gradle/
build/

# IDE related folders
.idea/
.settings/
*.ipr
*.iml
*.iws
*.code-workspace
.classpath
.project
.vscode/
*.bbproject
*.mcreator
mcreator.gradle

# MCreator workspace
.mcreator/

# Minecraft client/server files
run/

# MCreator generator ignores

# Mac OS Folder Metadata
.DS_Store
